@page "/layersdemo"
@rendermode Components.RenderMode.DefaultRenderMode

<div class="card mt-2 mb-2">
    <div class="card-header">
        <h3 class="card-title">Layers</h3>
    </div>
    <div class="card-body">
        <input type="checkbox" @bind="_visibility0" />
        <input type="range" min="0" max="1" step="0.05" @bind="_opacity0" />
        <input type="range" min="0" max="1" step="0.05" @bind="_opacity1" />
        <input type="range" min="0" max="1" step="0.05" @bind="_opacity2" />
        <input type="range" min="0" max="1" step="0.05" @bind="_opacity3" />
    </div>
</div>

<Map @ref="_map" Style="height:800px" CoordinatesProjection="EPSG:2056" class="card">
    <Layers>
        <Layer SourceType="SourceType.TileWMS" ServerType="mapserver" Url="https://wms.geo.admin.ch/" Layers="ch.swisstopo.pixelkarte-farbe" Format="image/png" Opacity="@_opacity0" Visibility="@_visibility0" CrossOrigin="anonymous" Extent="@(new double[] { 2485071.58, 1074261.72, 2837119.8, 1299941.79 })"></Layer>
        <Layer SourceType="SourceType.TileWMS" Url="https://wms.geo.admin.ch/" Layers="ch.swisstopo.swissnames3d" Format="image/png" Opacity="@_opacity1" />
        <Layer SourceType="SourceType.TileWMS" Url="https://wms.geo.admin.ch/" Layers="ch.kantone.cadastralwebmap-farbe" Format="image/png" CrossOrigin="anonymous" Opacity="@_opacity2" />
        <Layer SourceType="SourceType.TileWMS" Url="https://wms.geo.admin.ch/" Layers="ch.swisstopo.swisstlm3d-eisenbahnnetz" Format="image/png" CrossOrigin="anonymous" Opacity="@_opacity3" />
    </Layers>
</Map>

<CodeView Source="LayersDemo.razor" />

@code {
    private Map? _map { get; set; }
    private double _opacity0 = 1, _opacity1 = .3, _opacity2 = .3, _opacity3 = 1;
    private bool _visibility0 = true;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _map.Center = new[] { 2660013.54, 1185171.98 };
            StateHasChanged(); // update _map
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}