@page "/vectorlayersdemo"
@using System.Text.Json
@rendermode Components.RenderMode.DefaultRenderMode

<div class="card mt-2 mb-2">
    <div class="card-header">
        <h3 class="card-title">Vector Layers</h3>
    </div>
    <div class="card-body">
        Different vector layers with different sources
    </div>
</div>

<OpenStreetMap @ref="_map" Style="height:800px" class="card">
    <Layers>
        <Layer LayerType="LayerType.VectorImage" SourceType="SourceType.VectorGeoJson" Url="https://openlayers.org/data/vector/ecoregions.json" Opacity=".5" Options="@_vectorImageOptions" ></Layer>
        <Layer LayerType="LayerType.Vector" SourceType="SourceType.VectorWKT" Data="@_wkt" FlatStyle="@_wktStyle" />
        <Layer LayerType="LayerType.Vector" SourceType="SourceType.VectorKML" Url="https://openlayers.org/en/latest/examples/data/kml/2012-02-10.kml" FormatOptions="@_kmlOptions"></Layer>
        <Layer LayerType="LayerType.Heatmap" SourceType="SourceType.VectorKML" 
               Url="https://openlayers.org/en/latest/examples/data/kml/2012_Earthquakes_Mag5.kml" 
               FormatOptions="@((dynamic) new { extractStyles = false})" 
               Options="@((dynamic) new { blur = 15, radius = 5, weight = ".3" })"></Layer>
        <Layer LayerType="LayerType.Image" SourceType="SourceType.ImageStatic" Url="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Logo_Arosa.svg/480px-Logo_Arosa.svg.png" CrossOrigin="anonymous" Extent="new double[] {9.237235, 46.533206, 11.703873, 46.846104}"></Layer>
        <Layer LayerType="LayerType.Vector" SourceType="SourceType.Vector">
            <Shapes>
                <Circle Center="new(9.674681, 46.778543)" Radius="10000" Stroke="red" Fill="transparent" StrokeThickness="5"></Circle>
            </Shapes>
        </Layer>
    </Layers>
</OpenStreetMap>

<CodeView Source="VectorLayersDemo.razor" />

@code {
    private Map? _map { get; set; }
    private dynamic _vectorImageOptions = new { imageRatio = 2, style = new Dictionary<string, object>() { { "fill-color", new dynamic[] { "string", new[] { "get", "COLOR" }, "#eee" } } } };
    private dynamic _kmlOptions = new { ShowPointNames = true, ExtractStyles = true };

    private dynamic _wkt = "POLYGON((10.689 -25.092, 34.595 -20.170, 38.814 -35.639, 13.502 -39.155, 10.689 -25.092))";
    private Dictionary<string, object> _wktStyle = new()
    {
        { "fill-color", "rgba(255,80,200,0.4)" },
        { "stroke-color", "#3399CC" }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _map.Zoom = 3;
    }
}
